{% extends 'sender/base.html' %}
{% block title %}{{ recipient.full_name }}{% endblock %}
{% block content %}
{% if message.user == user or user.is_superuser %}
<a href="{% url 'sender:update_message' message.pk %}" class="btn btn-outline-primary">Изменить сообщение</a>
{% endif %}
<h1>{{ message.title }}</h1>
<p>{{ message.body }}</p>
{% if message.user == user or user.is_superuser %}
<a href="{% url 'sender:delete_message' message.pk %}" class="btn btn-danger">Удалить</a>
{% endif %}
{% endblock %}