{% extends 'sender/base.html' %}
{% block title %}Список рассылок{% endblock %}
{% block content %}
<a href="{% url 'sender:add_mailing_list' %}" class="btn btn-outline-primary">Создать новую рассылку</a>
<div class="list-group">
  {% for mailing_list in mailing_lists %}
  <a href="{% url 'sender:mailing_list' mailing_list.pk %}" class="list-group-item list-group-item-action">Сообщение: {{ mailing_list.message }} | Статус: {{ mailing_list.status }} <form method="post" action="{% url 'sender:run_send' mailing_list.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">Отправить</button>
  </form></a>
  {% endfor %}
</div>
{% endblock %}